a.social {
  --bg-img: "";
  background-image: var(--bg-img);
  width: 1.5rem;
  height: 1.5rem;
  display: block;

  -webkit-background-clip: initial;
  background-clip: initial;
  position: absolute;

  &[aria-label="tiktok"] {
    position: relative;
    --bg-img: url(../assets//icons/tiktok.svg);

    &:hover {
      position: relative;
      --bg-img: url(../assets/icons/tiktok-hover.svg)
    }
  }

    &[aria-label="instagram"] {
    position: relative;
    --bg-img: url(../assets//icons/instagram.svg);

    &:hover {
      position: relative;
      --bg-img: url(../assets/icons/instagram-hover.svg)
    }
  }

    &[aria-label="twitter"] {
    position: relative;
    --bg-img: url(../assets//icons/twitter.svg);

    &:hover {
      position: relative;
      --bg-img: url(../assets/icons/twitter-hover.svg)
    }
  }

    &[aria-label="discord"] {
    position: relative;
    --bg-img: url(../assets//icons/discord.svg);

    &:hover {
      position: relative;
      --bg-img: url(../assets/icons/discord-hover.svg)
    }
  }
}